.checkbox {
    display: inline-block;
    margin-right: 20px;
}

.checkbox > label {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 5px;
}

.checkbox input {
    transform: scale(1.5);
}
